<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.synitex.sample.server.GreetingServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.synitex.sample.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/gwtsample/secured/greet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/gwtsample/unsecured/login</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.synitex.sample.server.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/gwtsample/secured/*</url-pattern>
  </filter-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GWTSample.html</welcome-file>
  </welcome-file-list>

</web-app>
